services:
  booksdb:
    image: postgres
    container_name: booksdb
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 5s
    environment:
      POSTGRES_DB: booksdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    networks:
      - jaryqlibrary

  membersdb:
    image: postgres
    container_name: membersdb
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 5s
    environment:
      POSTGRES_DB: membersdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    networks:
      - jaryqlibrary

  loansdb:
    image: postgres
    container_name: loansdb
    ports:
      - "5435:5432"
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 5s
    environment:
      POSTGRES_DB: loansdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    networks:
      - jaryqlibrary

  books:
    image: "bekasyl04/books:1.0.0"
    container_name: book_ms
    ports:
      - "8080:8080"
    environment:
      SPRING_APPLICATION_NAME: "books"
      SPRING_DATASOURCE_URL: "jdbc:postgresql://booksdb:5432/booksdb"
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: root
    deploy:
      resources:
        limits:
          memory: 700m
    depends_on:
      booksdb:
        condition: service_healthy
    networks:
      - jaryqlibrary

  members:
    image: "bekasyl04/members:1.0.0"
    container_name: member_ms
    ports:
      - "8090:8090"
    environment:
      SPRING_APPLICATION_NAME: "members"
      SPRING_DATASOURCE_URL: "jdbc:postgresql://membersdb:5432/membersdb"
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: root
    deploy:
      resources:
        limits:
          memory: 700m
    depends_on:
      membersdb:
        condition: service_healthy
    networks:
      - jaryqlibrary

  loans:
    image: "bekasyl04/loans:1.0.0"
    container_name: loan_ms
    ports:
      - "9000:9000"
    environment:
      SPRING_APPLICATION_NAME: "loans"
      SPRING_DATASOURCE_URL: "jdbc:postgresql://loansdb:5432/loansdb"
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: root
    deploy:
      resources:
        limits:
          memory: 700m
    depends_on:
      loansdb:
        condition: service_healthy
    networks:
      - jaryqlibrary

networks:
  jaryqlibrary:
    driver: "bridge"
