server:
  port: 9000

spring:
  application:
    name: loans

  profiles:
    active: prod

  datasource:
    url: jdbc:postgresql://localhost:5432/db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jpa:
    show-sql: true

  sql:
    init:
      mode: always

  config:
    import: optional:configserver:http://localhost:8071

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

  cloud:
    openfeign:
      circuitbreaker:
        enabled: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    liveness-state:
      enabled: true
    readiness-state:
      enabled: true
  info:
    env:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
    shutdown:
      access: unrestricted

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8070/eureka

info:
  app:
    name: "loans"
    description: "Jaryq Library Loans Application"
    version: "2.0.0"

logging:
  level:
    com:
      bekassyl:
        loans: DEBUG

resilience4j.circuitbreaker:
    configs:
      default:
        sliding-window-size: 10
        permitted-number-of-calls-in-half-open-state: 2
        failure-rate-threshold: 50
        wait-duration-in-open-state:
          seconds: 10