server:
  port: 8090

spring:
  application:
    name: members

  profiles:
    active: prod

  datasource:
    url: jdbc:postgresql://localhost:5432/db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres

  jpa:
    show-sql: true

  sql:
    init:
      mode: always

  config:
    import: optional:configserver:http://localhost:8071

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    liveness-state:
      enabled: true
    readiness-state:
      enabled: true
  info:
    env:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
    shutdown:
      access: unrestricted

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8070/eureka

info:
  app:
    name: "members"
    description: "Jaryq Library Members Application"
    version: "2.0.0"

logging:
  level:
    com:
      bekassyl:
        members: DEBUG